# ========================
# Java
# ========================
*.class

# ========================
# Maven
# ========================
target/

# ========================
# Eclipse
# ========================
.metadata/
.settings/
.classpath
.project

# ========================
# OS
# ========================
.DS_Store
Thumbs.db
